**/__pycache__
**/.cache
**/.hypothesis
*.pygtex
*.pygstyle
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.tex.latexmain
*.toc
*.vrb
*.pdfpc
.ipynb_checkpoints/
assessments/
**/.ipynb_checkpoints
**/quizpool
**/DUE_DATE.txt
**/*.ipynb.sage*
quizzes/
readings/
